*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* Start Header */
/* End Header */
/* Start Slider */
.slider{
    max-width: 100%;
    margin-top: -20px;
}
.slider img{
    width: 100%;
    height: 200px;
}
/* End Slider */
/* Start About */
.about{
    max-width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}
.about h3{
    font-size: 35px;
}
.about .text{
    line-height: 2.2;
    font-size: 20px;
}

/* End About */
/* Start Services */
.services{
    max-width: 100%;
    overflow: hidden;
    padding: 30px 50px;
    border-bottom: 1px solid #ddd;
}
.services h3{
    font-size: 35px;
}
.services h4{
    font-size: 20px;
}
.services .box{
    transition: .5s ease;
}
.services .box:hover{
    transform: translateY(-20px);
}
/* End Services */
/* Start Works */
.works{
    max-width: 100%;
    overflow: hidden;
    padding: 30px 50px;
    border-bottom: 1px solid #ddd;
}
.works .row{
    /* gap: 5px; */
}
.works img{
    width: 100%;
    height: 250px;
    margin-top: 30px;
}
.works .box{
    position: relative;
}
.works .content{
    opacity: 0;
    background: rgba(0, 0, 0, .8);
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 93%;
    height: 0;
    transition: .5s ease;
}
.works .content h4,
.works .content p{
    color: #fff;
}
.works .box:hover .content{
    position: absolute;
    opacity: 1;
    height: 100px;
}
@media screen and (max-width: 990px) {
    .works .content{
        opacity: 0;
        background: rgba(0, 0, 0, .8);
        text-align: center;
        padding: 20px 0;
        position: absolute;
        bottom: 0;
        width: 97%;
        height: 0;
        transition: .5s ease;
    }
}
/* End Works */
/* Start Teams */
.teams{
    max-width: 100%;
    overflow: hidden;
    padding: 30px 50px;
    border-bottom: 1px solid #ddd;
}
.teams img{
    width: 100%;
    height: 400px;
}
.teams .box {
    margin-top: 30px;  
}
.teams .box h4{
    transition: .5s ease;
}
.teams .box:hover h4{
    transform: translateX(30px);
}
/* End Teams */
/* Start Pricing */
.pricing .head,
.pricing .f-row,
.pricing .s-row{
    text-align: center;
}
.pricing .head{
    background-color: #ccc;
}
.pricing .f-row{
    background-color: #f0f0f0;
}
.pricing .s-row{
    background-color: #f6f6f6;
}
.pricing .active{
    background-color: #f64b4b;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.pricing .prem{
    position: absolute;
    left: -45px;
    top: 25px;
    background-color: #f76363;
    width: 200px;
    text-align: center;
    padding: 10px;
    height: 40px;
    transform: rotate(315deg);
}
/* End Pricing */
/* Start Blog */
.blog{
    background-color: #f2f2f2;
    max-width: 100%;
    overflow: hidden;
}
.blog h2{
    color: #f64b4b;
}
.blog .card{
    position: relative;
}
.blog .card::before{
    content: '';
    position: absolute;
    width: 0;
    height: 10px;
    left: 0;
    top: 0;
    background: linear-gradient(135deg, #f64b4b 50%, black);
    opacity: 0;
    transition: .5s ease;
}
.blog .card:hover::before{
    opacity: 1;
    width: 100%;
}
.blog .card::after{
    content: '';
    position: absolute;
    width: 0;
    height: 10px;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, black 50%, #f64b4b);
    opacity: 0;
    transition: .5s ease;
}
.blog .card:hover::after{
    opacity: 1;
    width: 100%;
}
.blog .card p{
    line-height: 1.6;
    font-size: 18px;
}
/* End Blog */