*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* Start Header */
/* End Header */
/* Start Slider */
.home{
    max-width: 100%;
    margin-top: -20px;
}
.home img{
    width: 100%;
    height: 200px;
}
/* End Slider */
/* Start About */
.about h3{
    text-align: center;
}

/* End About */